<?xml version="1.0" encoding="UTF-8"?>
	<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<servers>
			<server>
				<id>nexus-snapshots</id>
			  <username>x</username>
			  <password>y</password>
			</server>
			<server>
				<id>nexus-releases</id>
			  <username>x</username>
			  <password>y</password>
			</server>
		</servers>
		<mirrors>
			<mirror>
				<id>kavinschool-java-group</id>
				<name>kavinschool-java-group</name>
				<url>http://ec2-54-221-104-253.compute-1.amazonaws.com:8081/repository/kavinschool-java-group/</url>
				<mirrorOf>*</mirrorOf>
			</mirror>
		</mirrors>
	    <profiles>
	      <profile>
	        <repositories>
	          <repository>
	            <snapshots>
	              <enabled>true</enabled>
	            </snapshots>
	            <id>maven-central</id>
	            <name>maven-central</name>
	            <url>http://ec2-54-221-104-253.compute-1.amazonaws.com:8081/repository/maven-central/</url>
				<releases><enabled>true</enabled></releases>
	          </repository>
	          <repository>
	            <id>kavinschool-java-snapshots</id>
	            <name>kavinschool-java-snapshots</name>
	            <url>http://ec2-54-221-104-253.compute-1.amazonaws.com:8081/repository/kavinschool-java-snapshots/</url>
				<releases><enabled>true</enabled></releases>
				<snapshots><enabled>true</enabled></snapshots>
	          </repository>
	          <repository>
	            <id>kavinschool-java-releases</id>
	            <name>kavinschool-java-releases</name>
	            <url>http://ec2-54-221-104-253.compute-1.amazonaws.com:8081/repository/kavinschool-java-releases/</url>
				<releases><enabled>true</enabled></releases>
				<snapshots><enabled>true</enabled></snapshots>
	          </repository>
	          <repository>
	            <id>kavinschool-java-third-party</id>
	            <name>kavinschool-java-third-party</name>
	            <url>http://ec2-54-221-104-253.compute-1.amazonaws.com:8081/repository/kavinschool-java-third-party/</url>
				<releases><enabled>true</enabled></releases>
				<snapshots><enabled>true</enabled></snapshots>
	          </repository>
	          <repository>
	            <id>kavinschool-java-group</id>
	            <name>kavinschool-java-group</name>
	            <url>http://ec2-54-221-104-253.compute-1.amazonaws.com:8081/repository/kavinschool-java-group/</url>
				<releases><enabled>true</enabled></releases>
				<snapshots><enabled>true</enabled></snapshots>
	          </repository>
	        </repositories>
	        <id>artifactory</id>
	      </profile>
	    </profiles>
	    <activeProfiles>
	      <activeProfile>artifactory</activeProfile>
	    </activeProfiles>
	</settings>
